#Slackbot Configuration File

version = "0.0.1"; 
host="localhost"; #localhost for SSL
port=6667;
ssl_no_verify=false; #Verify your SSL connection?
modules=./bin/modules

ldap: 
{ 
    uri="ldap://localhost:389/"; #LDAP resource uri
    password="foo"; #LDAP Binddn password
    binddn="uid=<username>,ou=<group>,dc=<foo>,dc=<bar>,dc=<com>"; 

    queries = ("search1", "search2"); 

    query: 
    { 
        search1: 
        { 
            basedn="cn=<group>,dc=foo,dc=com"; 
            filter="(uid=foo)"; 
            event="+v"; 
        };
        search2: 
        { 
            basedn="cn=<redteam>,dc=foo,dc=com"; 
            filter="(uid=bar)": 
            event="-v"; 
        };
    };
}; 
