#Slackbot Configuration File
#WARNING: DO NOT PUSH

version = "0.0.1"; 
host="localhost"; #localhost for SSL
port=6667;
ssl_no_verify=false; #Verify your SSL connection?

ldap: 
{ 
    uri="ldap://localhost:389/"; #LDAP resource uri
    password="foo"; #LDAP Binddn password
    binddn="uid=<username>,ou=<group>,dc=<foo>,dc=<bar>,dc=<com>"; 
    basedn="ou=<group>,dc=<foo>,dc=<bar>,dc=<com>";
}; 
